{% extends "base.html.twig" %}
{% block title %}list ETP{% endblock %}
{% block body %}
<br/><br/>
<div class="container">
  <h1>Liste des entreprises</h1>
  <p>Cette page affiche la liste des entreprises proposant un stage</p>
  <div class="row">
    {% for entreprise in entreprises%}
    <div class="col-md-6">
      <div class="card">
        <a href="{{path('proStage_stagesEntreprise',{entreprise:entreprise.getNom()})}}">
          <h1>{{entreprise.nom}}</h1>
        </a>
        <p>================</p><br/>
        <p>{{entreprise.activite}}<br/>
        {{entreprise.adresse}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
