{% extends "base.html.twig" %}
{% block title %}bienvenue page acceuil{% endblock %}
{% block body %}
<div class="container">
<h1>Bienvenue sur la page d'acceuil de ProStage<h1>
<p>
cette page présentera bientot tous les stages
</p>
<div class="row">
{% for i in 0..10 %}
<div class="col-md-6">
<div class="card">
ifdiuifdui
</div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}
