{% extends "base.html.twig" %}
{% block title %}bienvenue sur la page du stage {{id_Stage}}{% endblock %}
{% block body %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Voici le stage {{id_Stage}}</h1>
    </body>
</html>
{% endblock %}
