{% extends "base.html.twig" %}
{% block title %}bienvenue sur la page du stage {{stage.intitule}} {% endblock %}
{% block body %}
<br/><br/>
<div class="container">
  <h1>Voici le stage {{stage.intitule}}</h1>
  <h3>Mis en ligne par l'entreprise: {{stage.entreprise.nom}}</h3>
</div>
{% endblock %}
