{% extends "base.html.twig" %}
{% block body %}
<br/><br/>
<div class="container mt-5">
  <div class="row">
    {% for stage in stages %}
    <div class="col-md-6">
      <div class="card">
        <a href="{{path('proStage_stages',{id:stage.getId()})}}">
          <h3>nom du stage: {{stage.intitule}}</h3>
        </a>
        <h3>Entreprise: {{stage.entreprise.nom}}</h3>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
